body {
  margin: 10px;
}
nav.first_page {
    display: flex;
    border-bottom: 1px solid black;
    object-fit: cover;
    
  }
   
  input.switch ,ol.links,.names{
    
    flex: 1 1 auto;
    
  } 
 
  header{
    background: rgb(134, 240, 227);
    
  }
  
  section.intro{
    float: left;
  }
  section.film{
    float: right;
  }